<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <meta property="og:image" content="http://kushagra.me/blog/images/avatar@2x.jpg"/>

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        <link href="http://fonts.googleapis.com/css?family=Lora:400,700" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="/blog/css/main.css">

    </head>
    <body>

        <div class="site">

          {{ content }}

        </div>

    <script src="/blog/js/script.js"></script>
    </body>
</html>